/* Here we are designing for mobile view and applying media queries for DeskTop and Tablet  */

* {
    margin: 0;
    padding: 0;
    font-family: Okra, Helvetica, sans-serif;
}

body {
    /* apply that font */
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0px 1px 10px 1px #c8c8c8;
}


.navbar .navbar__brand {
    width: 100px;
}

.navbar .navbar__brand .navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(
            /* direction */
            to right,
            /* color => you can add number of colors */
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 13px;
    font-weight: 600;
    cursor: pointer;
}

.nav__item:hover {
    background-image: linear-gradient(
            /* direction */
            to right,
            /* color => you can add number of colors */
            #dd2476 0%,
            #ff512f 51%,
            #dd2476 100%);
}

.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.container .hero__image__container {
    width: 100%;
    height: 260px;
    background-image: url('./Media/hero_back.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.container .hero__image__container .hero__image {
    width: 100%;
}

.hero__text {
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}

.hero__description .button__primary {
    width: 90px;
    padding: 10px;
}

/* responsive navbar TABLET*/
@media (min-width :768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero__image {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }

}

/* responsive navbar DeskTop*/
@media (min-width:1024px) {
    .container {
        max-width: 70%;
    }

    .navbar .navbar__brand {
        width: 150px;
    }

    .navbar .navbar__nav__item .button__primary {
        padding: 20px;
        font-size: 20px;
    }

    .hero__description {
        width: 100%;
        margin-right: 10px;
    }

    .hero__text {
        font-size: 35px;
    }
}